body {
    margin: 0;
}
.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../images/rose.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.form {
	max-width: 650px;
	width: 100%;
	min-height: 600px;
    padding: 15px 20px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.title {
    text-align: center;
    font-size: 30px;
}
.input-space, .select, .textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 45px;
    margin-bottom: 10px;
    border-style: none;
    padding-left: 20px;
    border-radius: 4px; 
    font-size: 16px;  
} 
.input-space:hover {
    background-color: rgb(220, 200, 200);
}

.textarea {
    padding-top: 10px;
}
.textarea::placeholder {
    opacity: 0.6;
}
.select {
    cursor: pointer;
}

.checkbox-label {
    display: flex;
    justify-content: center;
	position: relative;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

.button {
    width: 50%;
	height: 36px;
	box-sizing: border-box;
    margin-left: 150px;
	margin-top: 30px;
	border-radius: 5px;
	border: none;
	background-color: rgba(4, 57, 20, 0.815);
	color: ghostwhite;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1px;
    cursor: pointer;
    
}
.button:hover {
    background-color: black;
}

.input-space:focus, .textarea:focus, .select:focus, .checkbox:focus {
    outline: none;
    box-shadow: 2px 2px 2px 2px rgba(4, 57, 20, 0.815);

}
.input-title {
    margin-left: 8px;
}